[Desktop Entry]
Name=ng-spice
Comment=Circuit simulator
Comment[pl]=Symulator obwodów
Exec=ngspice
Icon=ngspice
Type=Application
Terminal=true
Categories=Utility;Electronics;
